.consoleLayout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.consoleLayout main {
	padding-left: 20rem;
	transition: padding 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.consoleLayout.sidebarClosed main {
	padding-left: 7rem;
}

.consoleLayout.mobile main {
	padding-left: 0;
	margin-top: 4rem;
}
